.MuiGrid-root img {
    padding: 30px;
}

.MuiBox-root p#name,
.MuiBox-root p#chinesename {
    text-align: center;
    margin: auto;
    font-size: 70px;
    font-weight: 300;
    padding-bottom: 10px;
    color: #5a5a5a;
}

.MuiBox-root p#chinesename {
    font-size: 50px !important;
}

.MuiDivider-root {
    margin-bottom: 15px !important;
}

.MuiBox-root p.text {
    text-align: center;
    letter-spacing: 2px;
    color: #747474;
    line-height: 30px;
}

.MuiGrid-root#intro-grid {
    position: relative;
    top: 25%;
}

@media (max-width: 2552px) {
    p#name {
        text-align: center;
        width: 100%;
    }
    .MuiGrid-root p.text {
        line-height: 35px;
        font-size: 25px;
        width: 100%;
    }
}

@media (max-width: 1024px) {
    p#name {
        font-size: 80px !important;
        text-align: center;
        width: 100%;
    }
    .MuiGrid-root p.text {
        line-height: 29px;
        font-size: 20px !important;
        width: 100%;
    }
}

@media (max-width: 768px) {
    p#name {
        font-size: 60px !important;
        text-align: center;
    }
    .MuiGrid-root p.text {
        line-height: 27px;
        width: 100%;
        font-size: 16px !important;
    }
    .MuiGrid-root img {
        padding: 0 !important;
    }
}

@media (max-width: 414px) {
    p#name {
        font-size: 40px !important;
    }
    .MuiGrid-root p.text {
        line-height: 22px;
        font-size: 14px !important;
    }
}

@media (max-width: 375px) {
    .MuiGrid-root p.text {
        line-height: 22px;
        font-size: 12px !important;
    }
}